/** houses page **/
/* line 4, /Users/L7/git/SubletInn/app/assets/stylesheets/locations.css.scss */
.housesheader {
  background-image: url("https://s3.amazonaws.com/subletinn/Photos/urban.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin: 0px;
  padding: 0;
  margin-bottom: 0px;
}
