@media (min-width: 0px) {
  /* line 2, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
  .navbar-fixed-top {
    margin: 0;
    margin-left: -10px;
  }
}
/* line 8, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
.vert-menu {
  margin-top: 5%;
  width: 90px;
  box-shadow: none;
}

/* line 15, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
.nav-pills > li > a:hover {
  background-color: transparent;
}

/* line 24, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
.menu-item {
  padding-top: 30%;
}

/* line 29, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
#home {
  width: 165%;
  padding: 0px 0px 0px 0px;
}

/* line 35, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
#square {
  width: 0.5em;
  height: 0.5em;
  background: #FB5641;
  border-radius: 25%;
}
/* line 41, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
#square img {
  width: 60%;
  margin-top: 5px;
}

/* line 49, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
.collapse-button {
  margin-right: 80%;
  margin-top: 10px;
}

/* line 54, /Users/L7/git/SubletInn/app/assets/stylesheets/navigation.css.scss */
#toggle {
  margin-right: 24px;
  width: 50%;
}
