<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <style type="text/css">

  </style>

  <h2 style="color: #404040; font-weight: 300; margin: 0 0 12px 0; font-size: 24px; line-height: 30px; font-family: 'Helvetica neue', Helvetica, arial, sans-serif; margin-bottom:18px;">
  Only one step left!</h2>

  <p>Fill in the application and send it back to us.</p>

  <p>We'll review it to make sure this is the place for you!</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <a class="btn" href="https://s3.amazonaws.com/subletinn/Photos/bedroom.jpg">Application</a>
  <p>&nbsp;</p>

  <p>&nbsp;</p>
</body>


<style type="text/css">
  .btn {
      -webkit-border-radius: 4;
      -moz-border-radius: 4;
      border-radius: 4px;
      font-family: Arial;
      color: #ffffff;
      font-size: 23px;
      background: #3498db;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #3cb0fd;
      text-decoration: none;
    }
</style>


</html>
