
    <div class="jumbotron top-header ">
      <div id = "cover" class="container special">
        <!-- heading -->
            <h1 id="heading-text"> explore your chicago </h1>

            <p id="lc-block">
              Francis isn’t just a place to live, its a place to thrive. Live independently in the city with the company of your housemates, while having access to the best of chicago.
            </p>
            <div class="form">
              <%= render 'emails/email', email: @email %>
            </div>
        </div>
  </div>

  <div class = "jumbotron" style = "background-color: white">
    <div id = "cover" class = "container special">
      <div id = "intro1" class = "col-xs-7">
          <div class = "row">
            <h2 style = "font-family:HelveticaNeue-Bold;">francis is more than just a swanky house. when you put interesting & funny & sarcastic people together in one of the coolest neighborhoods in chicago, it’s bound to be memorable.</h2>
            <h4 id = "introhead2" style = "padding-top: 5%;">another community created by subletinn, francis is the hotspot for young chicago professionals who want to live with who work and play just as hard as they do. </h4>
            <h4 id = "introhead2">weekly events at francis bring the house together to form memories that last beyond your internship or job. we’ve done it all - from sushi night to salsa dancing on the patio, francis has always been a lively place. </h4>
            <h4 id = "introhead2">when we’re not living it up at the house, we’re out and about in the neighborhood: wicker park and logan square are home to the finest restaurants and coolest concert venues out there.</h4>
          </div>
        </div>
          <div class = "col-xs-5">
            <div class = "row">
              <h3 id = "headercolor"> phone</h3>
              <h5 id = "headerbw"> 312-234-2342</h5>
              <h3 id = "headercolor"> email</h3>
              <h5 id = "headerbw"> francis@subletinn.com</h5>
              <h3 id = "headercolor"> location</h3>
              <h5 id = "headerbw" style= "line-height: 150%; padding-left: 2%;"> 2748 W Francis Pl. <br/>
                                   Chicago, IL <br/>
                                   60647</h5>
            <div class = "row">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "jumbotron">
    <div id = "cover" class = "container special">
        <center><img id = "house" src = "https://s3.amazonaws.com/subletinn/Icons/navbar+icons+separated/clear+house.png"></center>
          <div class = "jumbotron"> </div>
          <div class = "col-xs-6">
            <div class = "row">
              <h3 id = "househeadercolor" > francis has a total of 3 floors</h3>
              <h4 id = "househeaderbw">and is spacious enough to house eleven single rooms, three bathrooms, coin operated laundry machines, a bar (The Boiler Room), a kitchen, and a den.</h4>
            </div>
          </div>
          <div class = "col-xs-6">
            <div class = "row">
              <h3 id = "househeadercolor" > oh but wait there’s more</h3>
              <h4 id = "househeaderbw"> out back there’s a backyard with a  patio where we hold grill-outs and friday night beer die. and on occasion : campfire sing alongs around the fire pit.</h4>
            </div>
          </div>
      </div>
    </div>

    <div class = "jumbotron">
      <div id = "cover" class = "container special">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <img class = "square" src="http://placehold.it/250x250" alt="Image" class="img-responsive">
          <img class = "square" src="http://placehold.it/250x250" alt="Image" class="img-responsive">
          <img class = "square" src="http://placehold.it/250x250" alt="Image" class="img-responsive">
        </div>
        <div class = "col-md-3 col-sm-4 col-xs-6">
          <h3 id = "househeadercolor"> be your badass self </h3>

      </div>
    </div>
