
    <div class="jumbotron top-header">
      <div id = "cover" class="container special">
        <!-- heading -->
            <h1 id="heading-text"> explore your chicago </h1>

            <p id="lc-block">
              Francis isn’t just a place to live, its a place to thrive. Live independently in the city with the company of your housemates, while having access to the best of chicago.
            </p>
            <div class="form">
              <%= render 'emails/email', email: @email %>
            </div>
        </div>
  </div>
