@import "bootstrap-sprockets";
@import "bootstrap";

#new_email {
  max-width: 100%;
}

.my-text-field {
    border-radius:0;
}

.my-btn{
  background: #8DBA24;
  border-color: #8DBA24;
  border-radius:0;
}

.my-btn:hover {
  border-color: #78AA05;
  background-color: #78AA05;

}

.container {
  width: auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;

}
