@import "bootstrap-sprockets";
@import "bootstrap";

/*** SETUP ***/

html,body {height:100%; width: 100%;
margin: 0px;
padding: 0;
overflow-x: hidden;
position: fixed;
}

/** handles the full screen jumbotron **/
.special,.special .jumbotron {
  height:100%;
  width: 100%;
  border-radius: 0px;
  margin: 0px;
  padding-top: 50px;
  margin-bottom: 0px;
}



/*** Page Styles ***/
.success {
  background-color: #8DBA24;
  font-size: 1em;
}

.notice {
  background-color: #5784DB;
  font-size: 1em;
  color: #fff;

}

.error {
  background-color: #EE8383;
  font-size: 1em;
}

.notification {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;

}

 .HomePageOne {
 background-image: url("https://s3.amazonaws.com/subletinn/Photos/concert.jpg");
 background-size: cover;
 height: 100%;
 width: 100%;
 border-radius: 0;
 margin: 0px;
 padding: 0;
 margin-bottom: 0px;
 }

 .ApplyPage {
 background-image: url("https://s3.amazonaws.com/subletinn/Photos/city-streets.jpg");
 background-size: cover;
 height: 100%;
 width: 100%;
 border-radius: 0;
 margin: 0px;
 padding: 0;
 margin-bottom: 0px;
 }



.carsosel-header{
  background-image: url("https://s3.amazonaws.com/subletinn/Photos/concert.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin: 0px;
  padding: 0;
  margin-bottom: 0px;
}

 .white-header {
   background-size: cover;
   height: 100%;
   width: 100%;
   border-radius: 0;
   margin: 0px;
   padding: 0;
   background-color: white;

 }

#static_map {
  display: none;

}

@media screen and (max-width: 768px) {
  #mapdiv {
    display: none;
  }

   #static_map {
     display: none;
     height: auto;
     width: auto;
   }

   .jumbotron {
     padding-top: 90px;
   }

   #socialcontainer ul a img{
     width: 500%;
   }
   #socials {
     padding: 15%;
   }
}

/*** Page Styles ***/


/*** HomePage ***/
#contact {

  font-family:'Helvetica neue', Helvetica, arial, sans-serif;
  color: #FB5641;
  font-weight: 200;
  font-size: 20pt;
  line-height: 100%;
}
#infocontact {
  font-size: 15pt;
  font-family:'Helvetica neue', Helvetica, arial, sans-serif;
  line-height: 100%;
}
.edgar {
  width: 20%;
  height: auto;
  margin-top: -5%;
}

@media screen and (max-width: 768px) {
  .edgar {
    width: 40%;
    height: auto;
  }

  }
#socialcontainer {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#socialcontainer img{
  width: 30%;
  padding-bottom: 10px;
}

#HomePageOneMainText{
  text-align: center;
  color: #fff;
  font-weight: 20;
  font-size: 60px;
}

#HomePageTwo-leftcol {
  padding-left: -15%;
}

#introhead2 {
  line-height: 150%;
  font-family: 'Helvetica neue', Helvetica, arial, sans-serif;
  font-weight: 14;
}

#headercolor {
  color:#FB5641;
}

#headerbw{
  text-align: center;
}

#house {
  min-width: 4%;
  height: auto;
}

#househeadercolor {
  font-family:HelveticaNeue;
  color:#FB5641;
}

#househeadercolor2 {
  font-family:HelveticaNeue;
  color:#FB5641;
  padding-left: 30%;
}

#househeaderbw {
  font-family:HelveticaNeue;
  text-align: center;
  padding-left: 20%;
  padding-right: 15%;
  line-height: 150%;
}

#househeaderbw2 {
  text-align: center;
  line-height: 150%;
    padding-top: 5%;
  /*
  padding-left: 45%;
  */
  }
  #francis {
    width: 30%;
    height: auto;
  }

/*** HomePage ***/


/*** LocalPage ***/

.photo-grid {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;
}

.photo-grid li {
	border: 5px solid white;
	display: inline-block;
	margin: 1em;
	width: 289px;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}

.photo-grid figure {
	overflow: hidden;
	position: relative;
  width: 60%;
  height: 60%;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: 15%;
	width: 60%;
	vertical-align: middle;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: 20%;
	width: 60%;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.photo-grid figcaption {
	background: rgba(0,0,0,0);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.square {
  padding-bottom: 15%;
  width: 90%;
  height: auto;
}

.square2 {
  margin-left: 25%;
  padding-bottom: 15%;
  margin-top: 25%;
  width: 110%;
  height: auto;
}

#placesheader{
  text-align: center;
  line-height: 150%;
}

/***RatesPages***/
.well-lg.well{
  background-color: #FFFFFF;
  margin-top: 20%;
  border-color: #FB5641;
}


#alien {
  padding-top: 10%;
  width: 30%;
  height: auto;
}

#rateshead {
  color: #FB5641;
  margin-top: -5%;
}

#onemonth{
  width: 100%;
  height: auto;
  margin-top: -10%;
}

#traveler {
  width: 50%;
  height: auto;
}

#student{
  width: 47%;
  height: auto;
}

/***FAQPage***/


.content {
	display:none;
}

.headerTitle_color {
  text-align: center;
  font-size: 40pt;
  font-family: "Merriweather", serif;
  color: #FFFFFF;
  cursor: pointer;
  font-style: italic;
  font-weight: 700;
}

.headerTitle_white{
  text-align: center;
  font-size: 40pt;
  font-family: "Merriweather", serif;
  color: #000;
  cursor: pointer;
  font-style: italic;
  font-weight: 700;
}


.faqbox_color {
  /* background-color:#FC7C7C*/
	background-color: #000;
  color: #fff;
}

.faqbox_white {
	background-color: #fff;
  color: #000;
}

.faqbox img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
	width:50px;
	height:50px;
}

#faqquestions1 {
  font-family: "Merriweather", serif;
  color: #FB5641;
  font-weight: 700;
  font-style: italic;
  font-size: 24pt;
}

#faqquestions2 {
  font-family: "Merriweather", serif;
  color: #FB5641;
  font-weight: 700;
  font-style: italic;
  font-size: 24pt;
}

#faqanswer {
  font-size: 20pt;
}

#faqanswer2 {
  font-family:'Helvetica neue', Helvetica, arial, sans-serif;
  font-size: 20pt;
  color: #000;
}

.faqbox img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
}
/*** ApplyPage ***/
.form {
  margin-top: 3%;
}
#ApplyPageMainText{
    margin-top: 2%;
    text-align: center;
    color: #fff;
    font-weight: 20;
    font-size: 40px;
  }

/*** ApplyPage ***/
