@import "bootstrap-sprockets";
@import "bootstrap";

/*** SETUP ***/
html,body {height:100%; width: 100%;
margin: 0px;
padding: 0;
}
.special,.special .jumbotron {
  height:100%;
  width: 100%;
  border-radius: 0px;
  margin: 0px;
  padding: 0;
  margin-bottom: 0px;
}

.special {
  width: auto;
  margin: 0px;
  padding: 0;
  margin-bottom: 0px;

}
/*** SETUP ***/


/*** Page Styles ***/
 .HomePageOne {
 background-image: url("https://s3.amazonaws.com/subletinn/Photos/concert.jpg");
 background-size: cover;
 height: 100%;
 width: 100%;
 border-radius: 0;
 margin: 0px;
 padding: 0;
 margin-bottom: 0px;

 }

.carsosel-header{
  background-image: url("https://s3.amazonaws.com/subletinn/Photos/concert.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin: 0px;
  padding: 0;
  margin-bottom: 0px;
}

 .white-header {
   background-size: cover;
   height: 100%;
   width: 100%;
   border-radius: 0;
   margin: 0px;
   padding: 0;
   background-color: white;

 }

 .ApplyPage {
 background-image: url("https://s3.amazonaws.com/subletinn/Photos/concert.jpg");
 background-size: cover;
 height: 100%;
 width: 100%;
 border-radius: 0;
 margin: 0px;
 padding: 0;
 margin-bottom: 0px;

 }
/*** Page Styles ***/


/*** HomePage ***/
#HomePageOneMainText{
  margin-top: 12%;
  text-align: center;
  text-shadow:1px 2px 5px #978D8A;
  color: #fff;
}

#HomePageTwo-leftcol {
  padding-left: 15%;
}

#introhead2 {
  font-family: HelveticaNeue;
  line-height: 150%;
}

#headercolor {
  font-family:HelveticaNeue;
  color:#FB5641;
  padding-left: 40%;
  padding-top: 3%;
}

#headerbw{
  font-family:HelveticaNeue;
  text-align: center;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 10%;
}

#house {
  width: 3%;
  height: auto;
}

#househeadercolor {
  font-family:HelveticaNeue;
  color:#FB5641;
}

#househeadercolor2 {
  font-family:HelveticaNeue;
  color:#FB5641;
  padding-left: 30%;
}

#househeaderbw {
  font-family:HelveticaNeue;
  text-align: center;
  padding-left: 20%;
  padding-right: 15%;
  line-height: 150%;
}

#househeaderbw2 {
  font-family:HelveticaNeue;
  text-align: center;
  line-height: 150%;
  }

/*** HomePage ***/


/*** LocalPage ***/
.square {
  margin-left: 85%;
  padding-bottom: 15%;
  width: 60%;
  height: auto;
}

.square2 {
  margin-left: 25%;
  padding-bottom: 15%;
  margin-top: 25%;
  width: 110%;
  height: auto;
}

#placesheader{
  font-family: HelveticaNeue;
  text-align: center;
}
/*** LocalPage ***/

/***RatesPages***/
.well-lg.well{
  background-color: #FFFFFF;
  margin-top: 20%;
  border-color: #FB5641;
}


#alien {
  padding-top: 10%;
  width: 30%;
  height: auto;
}

#rateshead {
  color: #FB5641;
  margin-top: -5%;
}

#onemonth{
  width: 100%;
  height: auto;
  margin-top: -40%;
}

#traveler {
  width: 50%;
  height: auto;
}

#student{
  width: 47%;
  height: auto;
}
/*** ApplyPage ***/
.form {
  margin-top: 10%;
}
#ApplyPageMainText{
  margin-top: 12%;
  text-align: center;
  text-shadow:1px 2px 5px #978D8A;
  color: #fff;
}
/*** ApplyPage ***/
