/*
#francis {
  width: 30%;
  height: auto;
}

.nav li {
  font-family: Batang;
}

 .navbar-default {
   background: transparent;
   background-color: #df3c0e;
   border-color: #df3c0e;

   background-image: none;
   background-repeat: no-repeat;
 }
 .navbar-default .navbar-brand {
   color: #ecf0f1;
 }
 .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
   color: #ED6A40;
 }
 .navbar-default .navbar-text {
   color: #ecf0f1;
 }
 .navbar-default .navbar-nav > li > a {
   color: #ecf0f1;
 }
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #ffbbbc;
 }
 .navbar-default .navbar-nav > li > .dropdown-menu {
   background-color: #df3c0e;
 }
 .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
   color: #ecf0f1;
 }
 .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
 .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
   color: #ED6A40;
   background-color: #c51c0b;
 }
 .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
   background-color: #df3c0e;
 }
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   color: #ED6A40;
   background-color: #c51c0b;
 }
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   color: #ED6A40;
   background-color: #c51c0b;
 }
 .navbar-default .navbar-toggle {
   border-color: #c51c0b;
 }
 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
   background-color: #c51c0b;
 }
 .navbar-default .navbar-toggle .icon-bar {
   background-color: #ecf0f1;
 }
 .navbar-default .navbar-collapse,
 .navbar-default .navbar-form {
 }
 .navbar-default .navbar-link {
   color: #ecf0f1;
 }
 .navbar-default .navbar-link:hover {
   color: #ED6A40;
 }

 @media (max-width: auto) {
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #ecf0f1;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     color: #ED6A40;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #ED6A40;
     background-color: #c51c0b;
   }

 }

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  border-color: transparent;
}

.icon-bar {
  border-color: #ED6A40;
  background-color: #ED6A40;
}
*/
@media (min-width: 0px) {
  .navbar-fixed-top {
    margin: 0;
    width: 50px;
  }


}
.nav-pills > li.active > a {
  background-color: #df3c0e;
}


.menu-item {
  padding-top: 50px;

}
