@import "bootstrap-sprockets";
@import "bootstrap";

/** main page **/

html,body {height:100%; width: 100%;
margin: 0px;
padding: 0;
overflow-x: hidden;
position: fixed;
}

.navtext {
  font-family:'Helvetica neue ', Helvetica, arial, sans-serif;
  font-size: 1.2em;
  color: white;
  font-weight: 200;
}

.navbar {
  background-color: none;
}

nav.navbar-findcond { background: none; border-color: none; }
nav.navbar-findcond a { color: none; }
nav.navbar-findcond ul.navbar-nav a { color: none}
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: none; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: none; }
nav.navbar-findcond button.navbar-toggle { background:#9D0B0B; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }



.mainphoto {
  background-image: url("https://s3.amazonaws.com/subletinn/Photos/concert.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin: 0px;
  padding: 0;
  margin-bottom: 0px;
}

#lock {
  padding-top: 30%;
  max-width: 70%;
  height: auto;
}

#mainheader {
 font-family:'Helvetica neue ', Helvetica, arial, sans-serif;
 font-weight: 200;
 line-height: 150%;
 font-size: 4.5em;
 margin-top: 10%;
 text-align: center;
 color: white;
 width: 100%;
 height: auto;
}

.well-sm.well{
  background-color: rgba(255,255,255,0);
  margin-top: 20%;
  border-color: #FFFFFF;
  border-radius: 15px;
  border-width: medium;
  width: 10em;
  height: 10em;
}

.wellfont {
  color: white;
  text-align: center;
  margin-top: 30%;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #DF3C0E;
  color: white;
}
