<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your interest!</h1>
    <p>Make sure you fill in the application and we will get back to you as soon as possible!</p>
  </body>
</html>
