
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#"><img id = "nav-lock" src = "https://s3.amazonaws.com/subletinn/Icons/lock.png"></a>
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Project</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><%= link_to francis_path(@subletinn) do%>
                    <img id = "francis" src = "https://s3.amazonaws.com/subletinn/Icons/SubletInn/Francis-self-white.png">
                  <% end %>
              </li>
              <!--
              <li> <a href="https://www.subletinn.com/francis"><img id = "francis" src = "https://s3.amazonaws.com/subletinn/Icons/SubletInn/Francis-self-white.png"></a></li>
              <li><a href="#contact">About</a></li>
              <li><a href="#contact">Contact</a></li>
            -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      <!-- Navigation Bar End -->
      </div>

      <div class = "jumbotron mainphoto">
        <div id = "cover" class="container special">

          <div class = "row">
            <div class = "col-xs-offset-4 col-xs-4 col-xs-offset-4 col-s-offset-5 col-s-2 col-s-offset-5 col-md-offset-5 col-md-2 col-md-offset-5 col-lg-offset-5 col-lg-2 col-lg-offset-5 ">
              <br>
              <br>
              <center><img id = "lock" src = "https://s3.amazonaws.com/subletinn/Icons/lock.png"></center>
            </div>
          </div>


          <center><p id = "mainheader"> Unlock your chicago </p></center>


          <center><img class="hvr-icon-down" id = "down-arrow" src = "https://s3.amazonaws.com/subletinn/Icons/SubletInn/down_arrow_white.png"></center>



          <!--

          <div class="row">
            <div class = "col-xs-offset-4 col-xs-4 col-xs-offset-4 col-sm-offset-5 col-sm-2 col-sm-offset-5">
              <a href = "http://www.subletinn.com/francis" style = "text-decoration: none">
                <div class = "well well-sm hvr-fade">
                  <p class = "wellfont">francis</p>
                </div>
              </a>
            </div>
          </div>
         -->
        </div>
      </div>
    </div>


<!--Equation -->
    <div class="row">
      <div class = "jumbotron white-header ApplyPage" style = "background-color: white">
        <div class="col-xs-12
                    col-sm-offset-3 col-sm-6 col-sm-offset-3
                    col-md-offset-4 col-md-4 col-md-offset-4
                    col-lg-offset-4 col-lg-4 ">
          <center>
            <img class="equation_icon" id = "people" src = "https://s3.amazonaws.com/subletinn/Icons/equation/people_icon.png">
            <img class="equation_icon" id = "plus" src = "https://s3.amazonaws.com/subletinn/Icons/equation/plus_icon.png">
            <img class="equation_icon" id = "air" src = "https://s3.amazonaws.com/subletinn/Icons/equation/airplain_icon.png">
            <img class="equation_icon" id = "plus" src = "https://s3.amazonaws.com/subletinn/Icons/equation/plus_icon.png">
            <img class="equation_icon" id = "house" src = "https://s3.amazonaws.com/subletinn/Icons/equation/house_icon.png">
          </center>
                  </div>
      </div>
    </div>

<!-- Content -->
    <div class="row">
      <div class = "jumbotron white-header ApplyPage" style = "background-color: white">

        <div class="col-xm-12
                     col-sm-6
                    col-md-offset-1 col-md-4
                    col-lg-offset-2 col-lg-3">
          <!-- Writing spots -->
           <div class="row">
             <!-- first paragraph-->
             <p class="text" id="heading">
               Think
             </p>
             <p class="text" id="body">
               a dorm but instead of a the shirtless guitar player who doesn’t know the difference between 3 a.m and 3 p.m living next to you, its someone pretty cool. Thats what we are.
             </p>
           </div>

           <br>
           <br>
           <br>
           <br>

           <div class="row">
             <!-- second paragraph-->
             <p class="text" id="heading">
               We’ve been there too!
             </p>
             <p class="text" id="body">
               and we know how much getting a place in Chicago, Boston, or San Francisco for an internship sucks. We know that the prices for appartments will leave you eating instant noodles for three months strait! (buy chipotle powder, it does wonders)
             </p>
           </div>

        </div>


        <div class="col-xm-12
                     col-sm-5
                    ol-md-offset-1 col-md-5
                    col-lg-offset-1 col-lg-3">
          <!-- subletinn image -->
          <img class="" id = "banner" src = "https://s3.amazonaws.com/subletinn/Photos/Subletinn/Home/chicago-black-and-white.png">
        </div>

      </div>
    </div>




    <!--
        <div class="row">
          <div class = "jumbotron white-header ApplyPage" style = "background: url(https://s3.amazonaws.com/subletinn/Photos/Subletinn/Home/logo_translucent_background.png)">
            <div class="row">
              <div class="col-lg-offset-3 col-lg-2">
                <p>
                  find the house that best fits with your personality. Everything else will fall into place!
                </p>
              </div>
              <div class="col-lg-offset-1 col-lg-2">
                <p>
                  find the house that best fits with your personality. Everything else will fall into place!
                </p>
              </div>
              <div class="col-lg-offset-1 col-lg-2">
                <p>
                  find the house that best fits with your personality. Everything else will fall into place!
                </p>
              </div>
            </div>

          </div>
          </div>
        </div>
-->
