

      <div class = "jumbotron mainphoto">
        <div id = "cover" class="container special">

          <div class = "row">
            <div class = "col-xs-offset-4 col-xs-4 col-xs-offset-4 col-s-offset-5 col-s-2 col-s-offset-5 col-md-offset-5 col-md-2 col-md-offset-5 col-lg-offset-5 col-lg-2 col-lg-offset-5 ">
              <center><img id = "lock" src = "https://s3.amazonaws.com/subletinn/Icons/lock.png"></center>
            </div>
          </div>
              <center><p id = "mainheader"> explore your chicago </p></center>
          <div class="row">
            <div class = "col-xs-offset-4 col-xs-4 col-xs-offset-4 col-sm-offset-5 col-sm-2 col-sm-offset-5">
              <a href = "http://www.subletinn.com/francis" style = "text-decoration: none">
              <div class = "well well-sm hvr-fade">
                <p class = "wellfont">francis</p>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
