<%= stylesheet_link_tag "footer" %>


<div class="row">
  <div class="large-5 large-centered columns">
    <div class="social" style="padding-top:0px">
    <a href="https://twitter.com/hellosunschein" target="_blank"><p>witter</p></a>
    <a href="mailto:lea.marolt@gmail.com?Subject=Howdy!" target="_top"><p> mailto</p></a>
    </div>
  </div>

</div>
