<%= stylesheet_link_tag "footer" %>


<div id = "footer">
  <div class="row">
    <div class =  "col-xs-12 col-sm-3 col-sm-offset-1">
      <center><h3 id = "headercolor2"> phone</h3></center>
      <center><h5 id = "headerbw"> (312)-714-0294</h5></center>
    </div>
    <div class =  "col-xs-12 col-sm-3">
      <center><h3 id = "headercolor2"> email</h3></center>
      <center><h5 id = "headerbw"> chicagosubletinn@gmail.com</h5></center>
    </div>
    <div class =  "col-xs-12 col-sm-3">
      <center><h3 id = "headercolor2"> location</h3></center>
      <center><h5 id = "headerbw" style= "line-height: 150%;">
        2748 W Francis Pl. <br/>
        Chicago, IL <br/>
        60647</h5>
      </center>
    </div>
      <div class = "col-xs-11 col-sm-2 col-md-2" id = "socials">
        <center><ul id =  "socialcontainer2" >
        <li><a href = 'https://medium.com/@chicago.subletinn'><img src = "https://s3.amazonaws.com/subletinn/Icons/social+media/mediumred.png"></a></li>
        <li><a href = 'http://chicago-subletinn.tumblr.com/'><img src = "https://s3.amazonaws.com/subletinn/Icons/social+media/tumblrred.png"></a></li>
        <li><a href = '#'><img src = "https://s3.amazonaws.com/subletinn/Icons/social+media/snapchatred.png"></a></li>
      </ul>
      </center>
    </div>
  </div>
</div>
