<%= stylesheet_link_tag "francis" %>

<nav class="navbar navbar-default">
  <div class = "container">
    <div class = "navbar-header">
      <div class = "clearfix">
        <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#example">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>
        <a href="" class = "navbar-brand"><img id = "francis" src = "https://s3.amazonaws.com/subletinn/francis.png"></a>
      </div>
    </div>
    <div class = "collapse navbar-collapse" id = "">
      <ul class = "nav navbar-nav pull-right">

        <!--<li><a href = "francis.subletinn.com"><img id = "home" src = "https://s3.amazonaws.com/subletinn/house.png"></a></li>-->
        <li><a href="francis.subletinn.com/community">community</a></li>
        <li><a href="francis.subletinn.com/people">people</a></li>
        <li><a href="francis.subletinn.com/sights">sights</a></li>
        <li><a href="francis.subletinn.com/faq">faq</a></li>
        <!--<li><a href = "https://www.google.com/maps/place/2748+W+Francis+Pl,+Chicago,+IL+60647"> <img id = "gps" src = "https://s3.amazonaws.com/subletinn/gps2.png"></a></li>-->
    </div>
  </div>
</nav>
