<! DOCTYPE html>
<html lang="en">
<head>
<%= stylesheet_link_tag "francis" %>
<meta charset="UTF-8">
<title>Francis: a place for young Chicago professionals to call home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<head>
<title> Francis : A community for young hip professionals</title>
</head>

<body>
  <%= render 'layouts/navigation' %>
  <div class="jumbotron" style = "background-image: https://s3.amazonaws.com/subletinn/house.jpg">
      <div id = "cover" class="container">
        <h1> explore your own chicago </h1>
      </div>
  </div>
</body>




</html>
