<! DOCTYPE html>
<html>
<%= stylesheet_link_tag "francis" %>
<head>
<title> Francis : A community for young hip professionals</title>
</head>

<body>

<section>

<h1 style = "position: absolute; top: -5; left: -15;">
<a href = "francis.subletinn.com"><%= image_tag("https://s3.amazonaws.com/subletinn/francis+logo.png", :class => "francis") %></a>
</h1>

<h3 style = "position: absolute; top: 35; left: 330;font-family: Helvetica; font-size: 20px; color: 260F96;">
  community
</h3>
<h3 style = "position: absolute; top: 35; left: 530;font-family: Helvetica; font-size: 20px; color: 260F96;">
  local-sights
</h3>

<h3 style = "position: absolute; top: 35; left: 730;font-family: Helvetica; font-size: 20px; color: 260F96;">
  franciscans
</h3>

<h3 style = "position: absolute; top: 35; left: 930;font-family: Helvetica; font-size: 20px; color: 260F96;">
  faq
</h3>

<div style = "position: relative; left: 1080; top: 30; width: 50%;" id = "GPS">
<a href = "https://www.google.com/maps/place/2748+W+Francis+Pl,+Chicago,+IL+60647/@41.9186369,-87.696017,17z/data=!4m2!3m1!1s0x880fd29fb400912b:0x423a5ebd859f990e"><%= image_tag("https://s3.amazonaws.com/subletinn/gps.jpg", :class => "gps") %></a>
</div>
</section>

<div style = "margin-top: 3.5%; height: 50%;" id = "WICKER">
<%= image_tag("https://s3.amazonaws.com/subletinn/background.jpg", :class => "wicker") %>
</div>
</body>
</html>
