<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <%= javascript_include_tag('application') %>


</head>

<body>
<%= render 'subletinn/partials/navigation'%>
<%= yield %>
</body>

</html>
