<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "application" %>
<!-- <link rel="stylesheet" type="text/css" href="application.css"/> -->
<head>
  <div id="bg">
   <!-- <img src="../../assets/images/coming soon.png" alt=""> -->
   <%= image_tag("coming soon.jpeg", :class => "style_image") %>
  </div>
</head>
</html>
